@use '../overlay-theme.scss';

:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.score-box {
  align-self: start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 30rem;
  align-items: center;
  padding: 1.25rem;
  background: rgba(241, 146, 56, 1);
  background: linear-gradient(0deg, var(--current-division-color) 0%, rgba(25, 12, 38, 1) 24%);
  border: 4px solid black;
  transition:
    opacity 180ms ease,
    transform 180ms ease;
}

.team-left__container,
.team-right__container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.125rem 0.5rem;
  border-radius: 0.5rem;
}

.team-left__container {
  margin-bottom: 0.75rem;
  background: linear-gradient(90deg, var(--team-alpha-color), black);
}

.team-right__container {
  margin-bottom: 1.25rem;
  background: linear-gradient(90deg, var(--team-bravo-color), black);
}

.team {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 0.04em;
}

.team-left-name,
.team-right-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 1.5rem);
}
