.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
}

.add-map-card {
  width: 390px;
  height: 220px;
  border: 2px solid white;
  border-radius: 25px;
}