@use '../overlay-theme.scss';

.commentator-box {
  position: relative;
  min-width: 500px;
  padding: 16px 28px;
  text-align: center;
  border: 4px solid black;
  background: rgba(241, 146, 56, 1);
  background: linear-gradient(
    0deg,
    rgba(241, 146, 56, 1) 0%,
    rgba(144, 73, 42, 1) 17%,
    rgba(25, 12, 38, 1) 34%
  );
  transition:
    opacity 180ms ease,
    transform 180ms ease;
}

.label {
  font-size: 20px;
  font-weight: 900;
  color: #f17932;
  margin-bottom: 8px;
}

.casters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
  margin: 0px 20px;
}

.caster {
  font-size: 30px;
  font-weight: 800;
}

img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 7px;
}
