@use '../overlay-theme.scss';

:host:not(.make-responsive) {
  display: flex;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.commentator-box {
  position: relative;
  min-width: 500px;
  padding: 1rem 3rem;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 0.25rem solid black;
  background: linear-gradient(0deg, var(--current-division-color) 0%, rgba(25, 12, 38, 1) 31%);
  transition:
    opacity 180ms ease,
    transform 180ms ease;
}

.streamer-text,
.casters-text {
  font-size: 1.875rem;
  font-weight: 800;
  white-space: nowrap;
}

.streamer-text {
  padding-right: 0.75em;
  border-right: 0.1875rem solid #ffffff;
}

.casters-text {
  padding-left: 0.75em;
}

.dsb-logo-small {
  position: absolute;
  width: 2.5rem;
  height: auto;
  bottom: 0;
  right: 0;
}
