@use '../dialog-theme.scss';

h2 {
  margin-top: 0.5rem;
}

.colors__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: start;
  row-gap: 0.75rem;
}

.color-display__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 1rem;
}

.color-display {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: black;
  filter: drop-shadow(0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5));
}
