<div class="sidebar">
    <section>
        <h2>Division</h2>
        <select
            [ngModel]="state().division"
            (ngModelChange)="
                stateService.update({
                    division: $event
                })">
            <option
                *ngFor="let division of availableDivisions"
                [ngValue]="division.id">
                {{ division.name }}
            </option>
        </select>
    </section>
    <section>
        <h2>Teams</h2>
        <input
            [ngModel]="state().teamAlphaName"
            (ngModelChange)="
                stateService.update({
                    teamAlphaName: $event
                })"
            maxLength="13">
        <input
            [ngModel]="state().teamBravoName"
            (ngModelChange)="
                stateService.update({
                    teamBravoName: $event
                })"
            maxLength="13">
    </section>
    <section>
        <div class="swap-sides">
            <h2>Seiten wechseln</h2>
            <label>
                <input
                    type="checkbox"
                    [ngModel]="state().alphaIsLeft"
                    (ngModelChange)="
                        stateService.update({
                            alphaIsLeft: $event
                        })">
                Alpha links
            </label>
        </div>
    </section>
    <section>
        <h2>Kommentatoren</h2>
        <input
            placeholder="@caster1"
            [ngModel]="state().commentator1"
            (ngModelChange)="
                stateService.update({
                    commentator1: $event
                })">
        <input
            placeholder="@caster2"
            [ngModel]="state().commentator2"
            (ngModelChange)="
                stateService.update({
                    commentator2: $event
                })">
    </section>
    <section>
        <h2>Sichtbarkeit des Overlays</h2>
        <button
            [class.active]="state().showMapScreen"
            (click)="
                stateService.update({
                    showMapScreen:
                        !state().showMapScreen
                })">

            Kartenanzeige
        </button>
        <button
            [class.active]="state().showScoreBox"
            (click)="
                stateService.update({
                    showScoreBox:
                        !state().showScoreBox
                })">
            Spielstand
        </button>
        <button
            [class.active]="state().showCommentatorBox"
            (click)="
                stateService.update({
                    showCommentatorBox:
                        !state().showCommentatorBox
                })">
            Kommentatoren
        </button>
    </section>
    <img src="assets/dsb/DSB_Logo.png" width="100px">
</div>