<div class="sidebar">
    <section>
        <h2>Teams</h2>
        <input
            [ngModel]="state().teamAlphaName"
            (ngModelChange)="
                stateService.update({
                    teamAlphaName: $event
                })">
        <input
            [ngModel]="state().teamBravoName"
            (ngModelChange)="
                stateService.update({
                    teamBravoName: $event
                })">
    </section>
    <section>
        <h2>Swap Sides</h2>
        <label>
            <input
                type="checkbox"
                [ngModel]="state().alphaIsLeft"
                (ngModelChange)="
                    stateService.update({
                        alphaIsLeft: $event
                    })">

            Alpha Left
        </label>
    </section>
    <section>
        <h2>Commentators</h2>
        <input
            placeholder="@caster1"
            [ngModel]="state().commentator1"
            (ngModelChange)="
                stateService.update({
                    commentator1: $event
                })">
        <input
            placeholder="@caster2"
            [ngModel]="state().commentator2"
            (ngModelChange)="
                stateService.update({
                    commentator2: $event
                })">
    </section>
    <section>
        <h2>Overlay Visibility</h2>
        <button
            [class.active]="state().showMapScreen"
            (click)="
                stateService.update({
                    showMapScreen:
                        !state().showMapScreen
                })">

            Map Screen
        </button>
        <button
            [class.active]="state().showScoreBox"
            (click)="
                stateService.update({
                    showScoreBox:
                        !state().showScoreBox
                })">
            Score Box
        </button>
        <button
            [class.active]="state().showCommentatorBox"
            (click)="
                stateService.update({
                    showCommentatorBox:
                        !state().showCommentatorBox
                })">
            Commentator Box
        </button>
    </section> 
</div>