.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px 30px 20px 30px;
  background: #f3b038;
  background: linear-gradient(
    0deg,
    rgba(243, 176, 56, 1) 0%,
    rgba(183, 58, 56, 1) 3%,
    rgba(37, 39, 48, 1) 8%
  );
  overflow-y: auto;
  overflow-x: hidden;
}

img {
  display: block;
  margin: auto 0 0 auto;
}

h2 {
  margin-bottom: 0;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

input {
  padding: 0.75rem;
  border: none;
  border-radius: 0.625rem;
  background: #343744;
  color: white;
}

select {
  padding: 0.75rem;
  border: none;
  border-radius: 0.625rem;
  background: #343744;
  color: white;
}

button {
  box-sizing: border-box;
  padding: 0.75rem;
  border: none;
  border-radius: 0.625rem;
  background-color: #343744;
  color: white;
}

button:hover {
  cursor: pointer;
}

.toggle-button {
  transition: background-color 150ms ease;
}

.toggle-button.toggled {
  background-color: #6d28d9;
}

.click-button {
  border: 0.125rem solid #343744;
  padding: 0.625rem;
  transition: border-color 50ms ease;
}

.click-button:active {
  border-color: #6d28d9;
}

button:disabled {
  opacity: 0.5;
}

button:disabled:hover {
  cursor: not-allowed;
}

button.click-button:disabled:active {
  border-color: #343744;
}

.swap-sides h2 {
  margin-bottom: 0.75rem;
}

label {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
