<div class="map-card" [class.hidden]="!map.isVisible">
  <img class="map-image" [src]="map.imageUrl" alt="{{ map.mapName }}" />
  <div class="overlay">
    <div class="controls">
      <button
        [class]="getTeamButtonClass('alpha')"
        (click)="handleWinnerSelection('alpha')"
      >
        {{ state().teamAlphaName }}
      </button>
      <button
        [class]="getTeamButtonClass('bravo')"
        (click)="handleWinnerSelection('bravo')"
      >
        {{ state().teamBravoName }}
      </button>
    </div>
    <img class="mode-image" [src]="'assets/modes/' + map.modeId + '.png'" alt="Mode Icon" />
    <div class="settings__container">
      <select [ngModel]="map.mapId" (ngModelChange)="updateMap($event)">
        @for (entry of availableMaps; track entry) {
          <option [value]="entry.id">
            {{ entry.mapName }}
          </option>
        }
      </select>
      <button class="edit" (click)="openEditMenu()">Bearbeiten</button>
    </div>
    @if (showEditMenu) {
      <app-edit-card
        class="edit-menu"
        (onCloseClick)="closeEditMenu()"
        (onModeChange)="updateMode($event)"
        (onDeleteMap)="removeMap()"
      />
    }
  </div>
</div>
