@use '../overlay-theme.scss';

:host {
  --standard-font-size: 4rem;
}

.start-screen {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  border: 0.5rem solid var(--current-division-color);
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.dsb-logo {
  height: 41.25rem;
  width: auto;
  border-right: 0.5rem solid black;
  padding: 0rem 6rem;
}

.match-info__container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.division__container {
  position: relative;
  padding: 10rem 0;
}

.division-bg-splat {
  position: absolute;
  aspect-ratio: 439 / 363;
  width: auto;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mask-image: url("/assets/misc/Division_Bg_Splat.png");
  mask-size: cover;
  mask-repeat: no-repeat;
  background-color: var(--current-division-color);
  z-index: -1;
}

.current-match-text, .team-name, .versus-text, .division-text {
  --drop-shadow-blur: 0.0625rem;
  --text-border-color: black;
  filter:
    drop-shadow(0.1875rem 0 var(--drop-shadow-blur) var(--text-border-color))
    drop-shadow(0 0.1875rem var(--drop-shadow-blur) var(--text-border-color))
    drop-shadow(-0.1875rem 0 var(--drop-shadow-blur) var(--text-border-color))
    drop-shadow(0 -0.1875rem var(--drop-shadow-blur) var(--text-border-color));

  font-size: var(--standard-font-size);
}

.versus-text {
  font-size: calc(var(--standard-font-size) * 0.667);
}

.team-name {
  font-weight: bold;
}
