<div class="map-screen" [class.overlay-hidden]="!state().showMapScreen">
  <div class="header dsb-panel">
    <span class="match season-division-display">
      Season {{ state().season }} - Woche {{ state().week }} - Division {{ state().division }}
    </span>

    <div class="team-name-container team-alpha-name-container">
      <span class="ink-splat-logo team-alpha-color"></span>

      <app-resizable-text
        class="team-left-name"
        [resizableTextContent]="teamNameSwitchingService.leftTeamName"
      />
    </div>

    <span class="match match-score">
      {{ teamNameSwitchingService.leftScore }} : {{ teamNameSwitchingService.rightScore }}
    </span>

    <div class="team-name-container team-bravo-name-container">
      <app-resizable-text
        class="team-right-name"
        [resizableTextContent]="teamNameSwitchingService.rightTeamName"
      />

      <span class="ink-splat-logo team-bravo-color"></span>
    </div>

    <img class="match dsb-logo" src="assets/dsb/DSB_Logo-Large.png" />
  </div>

  <div class="map-grid">
    @for (map of state().maps; track map.id) {
      <div class="map-card dsb-panel" [class.map-won]="map.winner !== null">
        <img class="map-image" [src]="map.imageUrl" />
        <img
          class="mode-image"
          [src]="'assets/modes/' + map.modeId + '-Large.png'"
          [attr.mode]="map.modeId"
        />

        @if (map.winner) {
          <div class="winner-logo__container">
            <span class="winner-logo" [ngClass]="setWinnerLogoColor(map.winner)"></span>
          </div>
        }
      </div>
    }
  </div>

  <app-commentator-box class="app-commentator-box make-responsive" />
</div>
