<div class="map-screen" [class.overlay-hidden]="!state().showMapScreen">
  <div class="header dsb-panel">
    <div class="match season-division-display">
      <span class="season-text">
        Season {{ state().season }}
      </span>
          
      <span class="display-seperator">
        -
      </span>

      <span class="division-text">
        Division {{ state().division }}
      </span>
    </div>

    <div class="team-name-container team-alpha-name-container">
      <img src="assets/misc/Splatoon_Ink_Splat.png" class="ink-splat-logo team-alpha-color"/>

      <span class="match team-name team-alpha-name">
        {{ leftTeamName }}
      </span>
    </div>

    <span class="match match-score">
      {{ leftScore }} : {{ rightScore }}
    </span>

    <div class="team-name-container team-bravo-name-container">
      <span class="match team-name team-bravo-name">
        {{ rightTeamName }}
      </span>

      <img src="assets/misc/Splatoon_Ink_Splat.png" class="ink-splat-logo team-bravo-color"/>
    </div>

    <img class="match dsb-logo" src="assets/dsb/DSB_Logo-Large.png"/>
  </div>

  <div class="map-grid">
    @for (map of state().maps; track map.id) {
      <div class="map-card dsb-panel" [class.map-won]="map.winner !== null">
        <img class="map-image" [src]="map.imageUrl" />
        <img
          class="mode-image"
          [src]="'assets/modes/' + map.modeId + '-Large.png'"
          [attr.mode]="map.modeId"
        />

        @if (map.winner) {
          <img
            class="winner-logo"
            [ngClass]="setWinnerLogoColor(map.winner)"
            src="assets/dsb/DSB_Outline_White.png"
          />
        }
      </div>
    }
  </div>

  <app-commentator-box class="app-commentator-box"/>
</div>
