<div
    class="map-screen"
    [class.overlay-hidden]="!state().showMapScreen">

    <div class="header dsb-panel">
        <span class="match team-alpha-name">
            {{ state().teamAlphaName.toUpperCase() }}
        </span>

        <span class="match match-score">
            {{ state().scoreAlpha }} : {{ state().scoreBravo }}
        </span>

        <span class="match team-bravo-name">
            {{ state().teamBravoName.toUpperCase() }}
        </span>
    </div>

    <div class="map-grid">
        @for (map of state().maps; track map) {
            <div class="map-card dsb-panel">
                <img [src]="map.imageUrl">

                <div class="map-info">
                    <div class="order">
                        KARTE {{ map.order }}
                    </div>

                    <div class="name">
                        {{ map.mapName }}
                    </div>

                    <div class="mode">
                        {{ map.modeName }}
                    </div>

                    @if (map.winner) {
                        <div class="winner">
                            Sieger:
                            {{
                                map.winner === 'alpha'
                                    ? state().teamAlphaName
                                    : state().teamBravoName
                            }}
                        </div>
                    }
                </div>

            </div>
        }
    </div>

</div>