@use '@angular/material' as mat;

:root {
  --team-alpha-color: white;
  --team-bravo-color: black;

  --division-1-color: #ff0000;
  --division-2-color: #ff8800;
  --division-3-color: #ffff00;
  --division-4-color: #00ff00;
  --division-5-color: #34ab53;
  --division-6-color: #0088ff;
  --division-7-color: #0400ff;
  --division-8-color: #730471;

  --current-division-color: var(--division-1-color);

  @include mat.dialog-overrides(
    (
      container-color: rgb(68, 72, 88),
      headline-padding: 1rem 1rem 2rem 1rem,
      subhead-size: 2rem,
      subhead-weight: 600,
      subhead-color: white,
      supporting-text-color: white,
      content-padding: 1rem,
      with-actions-content-padding: 1rem,
      container-shape: 1rem,
    )
  );
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: transparent;
}

* {
  box-sizing: border-box;
}
